* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial,Helvetica,sans-serif;
}

.header__title {
    background-color: #110c06;
    height: 85px;
    position: relative;
    display: flex;
}

.header__title__description {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: #e0d9c8;
    align-items: center;
    padding-top: auto;
    padding-bottom: auto;
    top: 10px;
    padding-left: 20px;
    position: absolute;
    font-size: 25px;
    font-weight: 600;
}

.header__title__description img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.header__title__user {
    position: absolute;
    width: 400px;
    height: 35px;
    right: 0;
    font-size: 12px;
    border-bottom-left-radius: 75px;
    background-color: White;

    display: flex;
    align-items: center;
    padding: 5px 15px;
    border-radius: 0 20px 0 0;
    box-shadow: 0 0 10px rgba(15, 9, 8, 0.66);
}

.header__title__user>h3 {
    float: right;
    padding: 10px;
    margin: 0;
    font-size: 12px;
    color: Black;
}

.header__system {
    background-color: #110c06;
    text-align: center;
    width: 25%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 10px;
    float: right;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.header__system__link {
    padding-top: 5px;
    padding: 5px;
    text-decoration-line: none;
    color: #fff !important;
}

.container__information{
    margin-top: 50px;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 16px;
    line-height: 1.8;
}

.container__information--col{
    padding-right: 40px;
}

.container__information--row{
    display: flex;
}

.container__information--title{
    width: 200px;
    color: green;
    font-weight: 600;
}

.container__information--semester{
    width: 150px;
}

.container__scores{
    margin: 30px 0;
    font-size: 14px;
    border-width: 1px;
}

.container__scores__header{
    background-color: #2467ae;
    text-align: center;
    height: 30px;
    color: #fff;

}

.container__scores__row{
    text-align: center;
}

.footer{
    margin-top: 200px;
    height: 50px;
    background-color: #56a4fe;
}

.footer__description{
    padding: 15px;
    color: #fff;
}
